{% macro header_menu_category(category) %}
    {% import _self as header %}
    {% set hasSubmenu = (category.children|length > 0) %}
    <li{{ hasSubmenu ? ' class="has-submenu"' : '' }}>
        {{ appellation_html(category) }}
        {% if hasSubmenu %}
            <ul class="submenu menu vertical" data-submenu>
                {% for categoryChild in category.children %}
                    {{ header.header_menu_category(categoryChild) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% import _self as header %}
{% spaceless %}
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">{{ app_title }}</li>
                <li>
                    <a>{{ 'categories'|trans }}</a>
                    <ul class="menu vertical" data-dropdown-menu>
                        {% for category in app_category_parents() %}
                            {{ header.header_menu_category(category) }}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endspaceless %}
