{% extends 'base.html.twig' %}

{% block title %}{{ appellation(category) }}{% endblock %}

{% block actions %}
    <a href="{{ path('flux_category_view', { 'category': category.id }) }}" class="label {{ read is null ? 'default-active' : 'default' }}" data-ajax="true">
        <span id="item-count" data-target="#item-count" data-url="{{ path('flux_category_itemcount', { 'category': category.id }) }}">{{ itemCount }}</span> &nbsp; <em class="fa fa-file-o"></em>
    </a>
    <a href="{{ path('flux_category_view', { 'category': category.id, 'read': '0' }) }}" class="label {{ read is not null and false == read ? 'default-active' : 'default' }}" data-ajax="true">
        <span id="unread-item-count" data-target="#unread-item-count" data-url="{{ path('flux_category_unreaditemcount', { 'category': category.id }) }}">{{ unreadItemCount }}</span> &nbsp; <em class="fa fa-eye-slash"></em>
    </a>
    <a href="{{ path('flux_category_view', { 'category': category.id, 'read': '1' }) }}" class="label {{ true == read ? 'default-active' : 'default' }}" data-ajax="true">
        <span id="read-item-count" data-target="#read-item-count" data-url="{{ path('flux_category_readitemcount', { 'category': category.id }) }}">{{ readItemCount }}</span> &nbsp; <em class="fa fa-eye"></em>
    </a>
{% endblock %}

{% block body %}

    <ul class="accordion accordion-feed" data-accordion data-multi-expand="true" data-allow-all-closed="true">
        {%- for item in items -%}
            <li class="accordion-item" id="feed-item-{{ item.id }}" data-accordion-item>
                <div class="pull-right delete">
                    <a href="{{ path('flux_feeditem_remove', { 'feedItem': item.id }) }}" data-ajax="true" data-target="#feed-item-{{ item.id }}"><em class="fa fa-trash"></em></a>
                </div>
                <a class="accordion-title feed-accordion-title">
                    <div class="row">
                        <div class="medium-9 columns">
                            <div class="title">
                                {{ appellation(item) }}
                            </div>
                        </div>
                        <div class="medium-3 columns">
                            <div class="text-right">
                                {{ item.date|date }}
                                <br><strong>{{ appellation(item.feed) }}</strong>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="accordion-content" data-tab-content>
                    {{ include('include/feed/feed_item.html.twig') }}
                </div>
            </li>
        {%- endfor -%}
    </ul>

{% endblock %}
