<a href="{{ path('flux_feeditem_read', { 'feedItem': item.id, 'read': (item.read ? '0' : '1') }) }}" id="feed-item-read-{{ item.id }}" data-ajax="true" data-target="#feed-item-read-{{ item.id }}">
    <span class="text">{{ (item.read ? 'read' : 'unread')|trans }}</span> &nbsp; <em class="icon fa fa-eye{{ item.read ? '' : '-slash' }}"></em>
</a>
